.places {
    padding-bottom: 10%;
}

.places h1 {
    font-size: 30px;
    margin-bottom: 0;
    margin-left: 10px;
}

.places ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: flex;
    justify-content: center;
}

.places article h2 {
    font-size: 30px;
    margin: 0;
}